@charset "utf-8";
body,html{font-family: Arial,"新宋体";font-size: 12px;height:100%;padding:0px; margin:0;}
a{text-decoration: none;}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.l-link{display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.l-link2{text-decoration:underline; color:white; margin-left:2px;margin-right:2px;}
.l-layout-top{background:#102A49; color:White;}
.l-layout-bottom{ background:#E5EDEF; text-align:center;}
#pageloading{position:absolute; left:0px; top:0px; background:white url('../../liger/skins/loading.gif') no-repeat center; width:100%; height:100%;z-index:99999;}
.l-link{display:block; line-height:22px; height:22px; padding-left:16px;border:1px solid white; margin:4px;}
.l-link-over{background:#FFEEAC; border:1px solid #DB9F00;} 
.l-winbar{background:#2B5A76; height:30px; position:absolute; left:0px; bottom:0px; width:100%; z-index:99999;}
.space{color:#E7E7E7;}
/* 顶部 */ 
.l-topmenu{margin:0; padding:0; height:31px; line-height:31px; background:url('../../liger/skins/top.jpg') repeat-x bottom;  position:relative; border-top:1px solid #1D438B;}
.l-topmenu-logo{color:#E7E7E7; padding-left:10px; line-height:24px;height:24px;top:2px;position:absolute;}
.l-topmenu-logo img{width:42px;height: 18px;vertical-align: middle;border: none;}
.l-topmenu-welcome{position:absolute; height:24px; line-height:24px;  right:30px; top:2px;color:#070A0C;}
.l-topmenu-welcome a{color:#E7E7E7; text-decoration:underline} 
.redStar{color: red;}
/* 查询列表表格样式class:listTable */
.listTable{width:99%;border: 1px solid #bbbbbb;border-collapse:collapse;margin: 0 auto;line-height: 20px;text-align: center;}
.listTable tr th{border-right:1px solid #bbbbbb;text-align: center;background: #ececec;font-weight: bold;}
.listTable tr td{border:1px solid #bbbbbb;}

.listTableAll{width:99%;border: 1px solid #bbbbbb;border-collapse:collapse;margin: 0 auto;line-height: 24px;text-align: center;}
.listTableAll tr th{border-right:1px solid #bbbbbb;text-align: center;background: #ececec;font-weight: bold;}
.listTableAll tr td{border:1px solid #bbbbbb;}

.list-table-tr-td1{background: #f7f7f7;}
.list-table-tr-even{background: #f7f7f7;}
.list-table-tr-hover{background:#E0EDFF;}
/*查询条件表格样式class:searchTable*/
.searchTable{width:99%;margin:20px auto;line-height:28px;}
.search-table-tr-td-label{text-align: right;font-weight: bold;}
.l-select{width: 200px;}
/*新增表格样式*/
.add-table{width: 99%;border:1px solid #bbbbbb;border-collapse: collapse;margin: 0 auto;line-height: 20px;margin-top: 5px;}
.add-table tr th{border: 1px solid #bbbbbb;text-align: right;background: #ececec;}
.add-table tr td{border:1px solid #bbbbbb;}
.add-table tr input{border:none;}
/*单据表格样式*/
.order-table{width: 99%;border:1px solid #bbbbbb;border-collapse: collapse;margin: 0 auto;line-height: 30px;background-color: #eaf2fe;}
.order-table tr th{border-bottom: 1px solid #bbbbbb;text-align:center;}
/* .order-table tr td{border:1px solid #bbbbbb;} */
/* .order-table tr td input{height: 30px;} */
/*左侧菜单样式*/
.m-ul li{line-height: 24px;border-bottom: 1px dashed #e1e1e1;text-align: left;}
.m-ul li img{margin-left: 20px;}
.m-ul li a{cursor: pointer;color: #333;}
.l-button-small{width:40px;}
/*文本框样式*/
.i-text-80{width: 80px;}
.i-text-120{width: 120px;}
.i-text-240{width: 240px;}
.i-text-360{width: 360px;}
/*首页表格样式*/
.homeTable{border:1px solid #bbbbbb;border-collapse: collapse;line-height: 30px;margin: 20px auto auto 20px;position: absolute;}
.homeTable tr th{border:1px solid #bbbbbb;}
.homeTable tr td{border:1px solid #bbbbbb;}
/*新增编辑表格样式*/
.add_update_table{width: 100%;line-height: 35px;margin: 50px auto auto auto;}
.add_update_table tr th{text-align: right;}
.add_update_table tr td{line-height: 35px;}
/*印章*/
.seal_img{display: none;position: absolute;z-index: 10000;margin-left: 400px;margin-top: 100px;}
/*查询表格样式*/
.search_table{border:none;border-collapse: collapse;line-height: 30px;margin-left: 25px;}
.search_table tr td{padding-left: 5px;}
/*价格显示样式*/
.price_display{font-size: 14px;font-weight: bold;color: red;}